@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://i.imgur.com/M6tL2a8.png');
  background-repeat: repeat-x;
  background-size: auto 50%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}