.App {
    margin: 0 auto;
    max-width: 576px;
}

.form {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > input {
    max-width: 50vw;
    
}